@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ===== CSS Reset ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== Base Styles ===== */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

/* ===== Links ===== */
a {
    text-decoration: none;
    color: inherit;
}

/* ===== Images ===== */
img {
    max-width: 100%;
    display: block;
}

/* ===== Lists ===== */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

/* ===== font-family ===== */

/* font-family: "Poppins", sans-serif; */
/* font-family: "Roboto", sans-serif; */
/* font-family: "PT Sans", sans-serif; */

/* ===== Variables (Optional) ===== */
:root {
    --primary-color: #b20839;
    --font-main: 'Segoe UI', sans-serif;
}



/* style start from here  */
.right_announce {
    display: flex;
    gap: 12px;
}

.announcement-bar {
    background: var(--primary-color);
    padding: 12px 0px;
}

.announcement-bar p {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.right_announce span i {
    font-size: 14px;
    color: #fff;
}


.middle-header-logo {
    align-items: center;
}

.middle-header-logo span i {
    font-size: 22px;
    color: #4c4c4c;
}

/* menu items  */
.headermenu {
    /* background: #eee; */
    color: white;
    /* padding: 15px 30px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    width: 100px;
    height: 80px;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    color: #5b5b5b;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
    font-weight: 400;
}

.nav-links li a:hover {
    color: var(--primary-color);
}

.appointment-btn {
    background: #616161;
    color: #fff;
    border: none;
    padding: 6px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
}

.appointment-btn:hover {
    background: #009acd;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background: rgb(49, 49, 49);
}


/* banner section  */

#banner1 {
    background-image: url('/images/dentist3.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
}

#banner2 {
    background-image: url('/images/dentist1.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
}

#banner3 {
    background-image: url('/images/dentist2.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
}

#bannersection .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    background: #fff;
    left: 0;
    /* padding: 20px !important; */
        width: 45px;
    height: 45px;
    
}

#bannersection .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    background: #fff;
    right: 0;
    /* padding: 20px !important; */
        width: 45px;
    height: 45px;
}

#bannersection .owl-nav:hover span{
    color: var(--primary-color);
}

#bannersection .owl-nav span{
 font-size: 50px;
}

#bannersection .owl-nav span {
    font-size: 50px;
    top: -50%;
    position: absolute;
    left: 29%;
}


#bannersection .item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#bannersection .item:before {
    position: absolute;
    content: "";
    background: #31313169;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#bannersection .item h3 {
    font-size: 35px;
    text-align: center;
    color: #fff;
}

.banner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.banner-btn1 {
    border: 2px solid #eee;
    padding: 10px 30px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.banner-btn1:before {
    position: absolute;
    content: "";
    background: var(--primary-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.banner-btn1:hover:before{
    width: 100%;
    transition: all 0.3s ease-in-out;
}



.banner-btn2 {
    border: 2px solid #eee;
    padding: 10px 30px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.banner-btn2:before {
    position: absolute;
    content: "";
    background: var(--primary-color);
    top: 0;
    left: 0;
    width: 1000%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.banner-btn2:hover:before{
    width: 0%;
    transition: all 0.3s ease-in-out;
}

.banner-btn1 a, .banner-btn2 a {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}


/* lowr banner section start from her  */

.lower_banner {
    position: relative;
    top: -80px;
    z-index: 999;
}

.bannerText {
    background: var(--primary-color);
    padding: 30px;
}

.bannerText h4 {
    font-size: 32px;
    color: #eee;
    line-height: 2;
}
.bannerText p {
    font-size: 18px;
    color: #DADADA;
}




/* SERVICES SECTION START FROM HERE  */

.the_cousell .service_box {
    padding: 20px 20px;
    margin-bottom: 1rem;
}
.samehgt {
    height: 345px;
}
.service_box {
    border: 2px dotted #315d88;
    padding: 25px 25px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

.tags {
    position: relative;
}

.image-box {
    text-align: center;
}
.image-box img {
    background: #f9f7f7;
    padding: 5px;
    border-radius: 95px;
    transition: all 0.3s ease-in-out;
    width: 78px;
}

.swap img {
    transition: all 0.3s ease-in-out !important;
}

.swap img:last-child {
    display: none;
}
.image-box img {
    background: #f9f7f7;
    padding: 5px;
    border-radius: 95px;
    transition: all 0.3s ease-in-out;
    width: 78px;
}

.swap img {
    transition: all 0.3s ease-in-out !important;
}

.service_box:hover {
    background: #eee;
    color: #000000;
    transform: translateY(-10px);
}

.service_box:hover .image-box img {
    background: #44c4f3;
    transform: scale(1.1);
}

.swap:hover img:first-child {
    display: none;
}

.service_box:hover .image-box img
 {
    background: #44c4f3;
    transform: scale(1.1);
}

.swap:hover img:last-child {
    display: inline-block;
}

.image-box {
    text-align: center;
    display: flex;
    justify-content: center;
}
.short-btn {
    width: 189px;
}

.service_bgtext {
    display: flex;
    justify-content: center;
}
.service_bgtext .short-btn:hover a{
 color: var(--primary-color);
 transition: all 0.3s ease-in-out;
}

/* gallery section sytart from her  */
.mediaGallery .col-3 {
    padding: 0;
}
.gallery_bov:hover img {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}
.gallery_bov img{
    transition: all 0.2s ease-in-out;
}
.gallery_bov {
    overflow: hidden;
   position: relative;
}

.gallery-text{
    position: absolute;
}
.gallery-text {
    position: absolute;
    bottom: -44px;
    left: 50%;
    transform: translate(-50%, 0%);
        background: #fff;
    width: 100%;
    text-align: center;
    padding: 8px 2px;

}

.gallery_bov:hover .gallery-text {
    background: var(--primary-color);
    color: #fff;
    transition: all 0.3s ease-in-out;
    bottom: 0;
}

.plusimage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.plusimage i {
    font-size: 25px;
    color: red;
}

.gallery_bov:hover .plusimage{
    opacity: 1;
    transition: all 0.3s ease-in-out;
}



/* footer section start from here  */
footer {
    background: #3a3a3a;
    padding: 80px 60px 60px;
}   

h3.footer-heading {
    font-size: 15px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    margin-bottom: 25px;
    position: relative;
}
h3.footer-heading::before {
    position: absolute;
    content: "";
    background: var(--primary-color);
    width: 60px;
    height: 2px;
    left: 0;
    bottom: -7px;
}
.footer-sec p {
    color: #fff;
}

.footer-sec li a {
    color: #fff;
}
.footer-gallery .col-4 {
    padding: 3px;
}

.footer-sec li{
 border-bottom: 1px dotted #eee;
 margin-bottom: 5px;
}

.footer-links ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-contacts {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.footer-contacts i {
    color: var(--primary-color);
    font-size: 22px;
}
.footer-contacts a {
    color: #fff;
}

.diff{
    background: #434343;
    padding: 12px;
    border-radius: 12px;
}

.powred-footer {
    background: #212121;
    padding: 18px 0;
}

.powred-footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pow-sec p {
    color: #eee;
}



/* Experienced team section start from here  */

.main-heading {
    font-size: 28px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .underline {
    width: 60px;
    height: 4px;
    background-color: var(--primary-color);
    margin: 0 auto 30px auto;
    border-radius: 2px;
  }
  
  .team-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    justify-content: center;
  }
  
  .team-card {
    background-color: #f9f9f9;
    width: 250px;
    padding-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
  }
  
  .team-card:hover {
    transform: translateY(-5px);
  }
  
  .team-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  
  .team-card p {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #222;
    text-align: start;
    margin-left: 15px;
  }


/* Experienced team ends from here  */




/* Testimonial section start from here  */
.testisec img {
    max-width: 100px;
    border-radius: 100px;
}

div#testimonialsection{
    text-align: center;
}

.testiimg {
    display: flex;
    justify-content: center;
    align-items: center;
}
.testisec p {
    font-size: 20px;
    color: #454545;
}

.testimonial-section {
    background: #ebebeb;
    padding: 60px 0;
}

#testimonialsection .owl-dots .owl-dot.active span{
    background: var(--primary-color) !important;
}





/* News health css start from here  */

.healthimage img {
    width: 100%;
}

.healthimage {
    position: relative;
}


.health-text {
    background: #eee;
    position: absolute;
}

section#healthsection {
    height: 160vh;
}

.health-text {
    background: #eeeeee;
    position: absolute;
    width: 90%;
    top: 81%;
    right: 0;
    padding: 40px;
}

.health-text h3 {
    font-size: 22px;
    color: var(--primary-color);
    font-family: "PT Sans", sans-serif;
}

/* New health css ends from here  */



/* tabsection start from here  */
.tbsec {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tbsec .left-sidebar {
    width: 27%;
}

.tbsec .right-sidebar {
    width: 67%;
}

.left-sidebar .nav-link.active {
    background: none;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.left-sidebar .nav-link{
    border-bottom: 3px solid #eee;
    border-radius: 0;
}

.tab-content-right h3 {
    font-size: 22px;
    margin-bottom: 12px;
}

.tab-content-right a {
    /* text-decoration: underline; */
    background: #eee;
    padding: 10px;
    border-radius: 12px;
    width: 200px;
    display: flex;
    text-align: center;
    margin: 5px;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 500;
     transition: all 0.3s ease-in-out;
}

.tab-content-right a:hover{
    transition: all 0.3s ease-in-out;
    background: var(--primary-color);
    color: #fff;
}

/* tabsection ends from here  */