@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ===== CSS Reset ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== Base Styles ===== */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

/* ===== Links ===== */
a {
    text-decoration: none;
    color: inherit;
}

/* ===== Images ===== */
img {
    max-width: 100%;
    display: block;
}

/* ===== Lists ===== */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

/* ===== font-family ===== */

/* font-family: "Poppins", sans-serif; */
/* font-family: "Roboto", sans-serif; */
/* font-family: "PT Sans", sans-serif; */

/* ===== Variables (Optional) ===== */
:root {
    --primary-color: #b20839;
    --font-main: 'Segoe UI', sans-serif;
}



/* style start from here  */
.right_announce {
    display: flex;
    gap: 12px;
}

.announcement-bar {
    background: var(--primary-color);
    padding: 12px 0px;
}

.announcement-bar p {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.right_announce span i {
    font-size: 14px;
    color: #fff;
}


.middle-header-logo {
    align-items: center;
}

.middle-header-logo span i {
    font-size: 22px;
    color: #4c4c4c;
}

/* menu items  */
.headermenu {
    /* background: #eee; */
    color: white;
    /* padding: 15px 30px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    width: 100px;
    height: 80px;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    color: #5b5b5b;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
    font-weight: 400;
}

.nav-links li a:hover {
    color: var(--primary-color);
}

.appointment-btn {
    background: #616161;
    color: #fff;
    border: none;
    padding: 6px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
}

.appointment-btn:hover {
    background: #009acd;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background: rgb(49, 49, 49);
}


/* banner section  */

#banner1 {
    background-image: url('/images/dentist3.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
}

#banner2 {
    background-image: url('/images/dentist1.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
}

#banner3 {
    background-image: url('/images/dentist2.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
}

#bannersection .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    background: #fff;
    left: 0;
    /* padding: 20px !important; */
        width: 45px;
    height: 45px;
    
}

#bannersection .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    background: #fff;
    right: 0;
    /* padding: 20px !important; */
        width: 45px;
    height: 45px;
}

#bannersection .owl-nav:hover span{
    color: var(--primary-color);
}

#bannersection .owl-nav span{
 font-size: 50px;
}

#bannersection .owl-nav span {
    font-size: 50px;
    top: -50%;
    position: absolute;
    left: 29%;
}


#bannersection .item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: rgba(255,85,0, .7);
  text-align: center;
  color: #4E4C48;
  font-size: 1.5em;
} */